---
layout: duh2
title: TIMMEH!
---
{% assign counter = 1 %}
{% for post in site.posts %}
  {% if post.omit != true and counter <= 3 %}
    {% assign counter = counter | plus: 1 %}
    {% continue %}
  {% endif %}
<article class="blog-post border-bottom">
  <header>
    <h3 class="blog-post-title"><a href="{{ post.url }}" class="text-dark">{{ post.title }}</a></h3>
    <p class="blog-post-meta">{{ post.date | date: "%A %B %e, %Y" }} by {{ post.author }}</p>
  </header>
  <div class="entry-content">
    {{ post.excerpt }}
    <p><a class="btn btn-secondary btn-sm" href="{{ post.url }}" role="button">Continue reading &raquo;</a></p>
  </div>
  <footer class="blog-post-meta">
  <p>Posted under: {{ post.categories | join: ", "}}</p>
  </footer>
</article><!-- /.blog-post -->
{% endfor %}
